<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

<% if (user) { %>
  <p>Welcome <%= user.email %></p>
  <a href="/auth/logout">Logout</a>
<% } else { %>
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Sign up</a>
<% } %>

<ul>
    <% messages.forEach(message => { %>
      <li>
        <h2> <%= message.messagetitle %> </h2>
        <p> <%= message.messagetext %> </p>
        <p>Created at: <%=message.timecreated %> </p>

      </li>
      <% }); %>
   </ul>
  </body>
</html>