<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Enter the secret password to become a member
    <form action="/auth/membership" method="post">
      <label for="memberPassword">Membership Password</label>
      <input
        type="password"
        id="membershipPassword"
        name="membershipPassword"
      />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
